* {
    box-sizing: border-box;
}

body {
    background: url(../img/02.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

}

h1 {
    text-align: center;
    font-size: 4.5vw;
}

nav,#pie {
    font-size: 2vw;
    background-color: silver;
    padding: 0.3vw;
    opacity: 75%;
    font-family: 'Playfair Display',serif;

}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

a {
    font-size: 3.7vw;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    font-style: italic;
}
h2{
    font-size: 2vw;
}
aside {
    margin: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.articlen {
    margin: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: left;
}


.imagen1 {
    text-align: right;
    margin-left: 2vw;
    width: 500px;
    height: 300px;
    z-index: 0;
}

.parra1 {
    width: 30vw;
    height: 20vw;
    padding: 0 1vw 0 1vw;
    margin-top: 200px;
    background-color: white;
    font-size: 1.3vw;
    text-align: justify;
    color: #b0a3a0;
    z-index: 1;
    font-family: 'Playfair Display', serif;
    box-shadow: 5px 5px 5px #b0a3a0;
}

.lista {
    list-style: square;
    display: flex;
    flex-direction: column;
}

.articlep {
    margin: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.tit2 {
    text-align: justify;
    padding: 20px;
}

.parra2 {
    width: 500px;
    height: 300px;
    padding: 0 1vw 0 1vw;
    margin-top: 200px;
    background-color: white;
    font-size: 1.3vw;
    text-align: justify;
    color: #b0a3a0;
    z-index: 1;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    box-shadow: 5px 5px 5px #b0a3a0;
}

.imagen2 {
    text-align: right;
    width: 500px;
    height: 300px;
    z-index: 0;
}

.gracias {
    margin: 100px;
    display: flex;
    flex-direction: row;
}

.gra {
    padding: 0 1vw 0 1vw;
    margin: 60px;
    background-color: white;
    font-size: 1.5vw;
    text-align: center;
    color: #b0a3a0;
    z-index: 1;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    box-shadow: 5px 5px 5px #b0a3a0
}

iframe {
    display: flex;
    flex-direction: row;
    width: 700px;
    height: 400px;
    margin: 50px;
}
#derechosreservados{
    background-color: #ffffff;
    margin-top: 100px;
    padding: 3px;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 0.15vw;
    width: 650px;

    animation-name: letra-animada;
    animation-duration: 4s;
    animation-delay: 2s;
    position: relative;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
.ws_logo{
    z-index: initial;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 400px;
    left: 20px;
}.titulosFooter{
    color: black;
    font-weight: bold;
}
.redes_footer{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#clima{
    width: 30vw;
    height: 23vw;
    background-image: url(../img/obelisco.gif);
    background-size: cover;
    opacity: 80%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: white;
    font-size: 1.9vw;
    display: flex;
    flex-direction: column;
}
.icono{
    height: 8vw;
}
@keyframes letra-animada{
    0%{background:#ffffff; left: 0;}
    25%{background: rgb(157, 158, 160);color:rgb(59, 58, 57);left:120px}
    50%{background:rgb(123, 124, 126);color:rgb(133, 134, 135);left:240px }
    75%{background: rgb(115, 116, 116);color:rgb(201, 201, 197);left:360px}
    100%{background:rgb(103, 103, 103);color:rgb(255, 255, 255) ;left:480px}
}

@media screen and (max-width: 576px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    h2{
        font-size: 3.5vw;
    }

    .articlen {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
    }

    #img1 {
        width: 80vw;
    }

    .imagen1 {
        width: 10vw;
        height: 10vw;
        z-index: 0;

    }

    .parra1 {
        width: 80vw;
        height: 50vw;
        margin-top: 31vw;
        font-size: 2.4vw;
        z-index: 1;
    }

    aside {
        margin: 20vw 0 0 30vw;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap-reverse;
        align-content: flex-start;

    }

    iframe {
        width: 100%;
        height: 100%;
    }

    .articlep {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: flex-start;
    }

    .imagen2 {
        width: 98vw;
        height: 1vw;
        z-index: 0;
    }

    #img2 {
        width: 100%;
    }

    .parra2 {
        width: 70vw;
        height: 35vw;
        font-size: 3vw;
        z-index: 1;
    }

    .gracias {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
    }

    .gra {
        width: 50vw;
        height: 35vw;
        padding: auto;
        font-size: 3vw;
    }
    #derechosreservados {
        letter-spacing: 0.001;
        font-size: 2vw;
        padding: 0px;
        margin-left: 0px;
        width: 400px;
        
    }

    @keyframes letra-animada {
        0% {
            background: #ffffff;
            left: 0;
        }

        25% {
            background: rgb(157, 158, 160);
            color: rgb(59, 58, 57)
        }

        50% {
            background: rgb(123, 124, 126);
            color: rgb(133, 134, 135)
        }

        75% {
            background: rgb(115, 116, 116);
            color: rgb(201, 201, 197)
        }

        100% {
            background: rgb(103, 103, 103);
            color: rgb(255, 255, 255)
        }
    }
}

@media screen and (min-width: 576px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .articlen {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #img1 {
        width: 80vw;
    }

    .imagen1 {
        width: 10vw;
        height: 10vw;
        z-index: 0;

    }

    .parra1 {
        width: 80vw;
        height: 50vw;
        margin-top: 31vw;
        font-size: 2.4vw;
        z-index: 1;
    }

    aside {
        margin: 20vw 0 0 30vw;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap-reverse;
        align-content: flex-start;

    }

    iframe {
        width: 80vw;
        height: 60vw;
    }

    .articlep {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .imagen2 {
        width: 60vw;
        height: 1vw;
        z-index: 0;
    }

    #img2 {
        width: 100%;
    }

    .parra2 {
        width: 70vw;
        height: 35vw;
        font-size: 2.7vw;
        z-index: 1;
    }

    .gracias {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
       
    }

    .gra {
        width: 50vw;
        height: 35vw;
        font-size: 3vw;
    }
    .footer{
        margin: 1vw;
    }
    #derechosreservados {
        letter-spacing: 0.001;
        font-size: 2vw;
        padding: 0px;
        margin-left: 0px;
        width: 500px;
    }

    @keyframes letra-animada {
        0% {
            background: #ffffff;
            left: 0;
        }

        25% {
            background: rgb(157, 158, 160);
            color: rgb(59, 58, 57)
        }

        50% {
            background: rgb(123, 124, 126);
            color: rgb(133, 134, 135)
        }

        75% {
            background: rgb(115, 116, 116);
            color: rgb(201, 201, 197)
        }

        100% {
            background: rgb(103, 103, 103);
            color: rgb(255, 255, 255)
        }
    }

}

@media screen and (min-width: 960px) {
    body {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .articlen {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
    }

    #img1 {
        width: 50vw;
    }

    .imagen1 {
        width: 10vw;
        height: 10vw;
        z-index: 0;

    }

    .parra1 {
        width: 80vw;
        height: 20vw;
        margin: 15vw;
        font-size: 1.4vw;
        z-index: 1;
    }

    aside {
        margin: 0vw 0 0 30vw;
    }
    iframe {
        width: 50vw;
        height: 30vw;
    }
    .articlep {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        align-content: right;
    }

    .imagen2 {
        width: 80vw;
        height: 10vw;
        z-index: 0;
    }

    #img2 {
        width: 80%;
    }

    .parra2 {
        width: 70vw;
        height: 20vw;
        margin: 18vw 15vw 3vw 0;
        font-size: 2vw;
        z-index: 1;
    }
    .gracias {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content:center;
    }

    .gra {
        margin: 0 0 0 0;
        width: 90vw;
        height: 10vw;
        font-size: 2vw;
    }
    #derechosreservados {
        letter-spacing: 0.001;
        font-size: 2vw;
        padding: 0px;
        margin-left: 0px;
        width: 660px;
    }

    @keyframes letra-animada {
        0% {
            background: #ffffff;
            left: 0;
        }

        25% {
            background: rgb(157, 158, 160);
            color: rgb(59, 58, 57)
        }

        50% {
            background: rgb(123, 124, 126);
            color: rgb(133, 134, 135)
        }

        75% {
            background: rgb(115, 116, 116);
            color: rgb(201, 201, 197)
        }

        100% {
            background: rgb(103, 103, 103);
            color: rgb(255, 255, 255)
        }
    }
}