* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url(../img/02.jpg);
    background-size: cover;
    background-position: center;
    color: rgb(15, 16, 16);
}

header {
    font-size: 2vw;
    background-color: silver;
    padding: 1.5vw;
    opacity: 75%;
    font-family: 'Playfair Display',serif;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    font-style: italic;
}

img {
    width: 400px;
    height: 300px;
}

.container {
    display: flex;
    padding: 5px;
    flex-wrap: wrap;

}

.caja {
    flex: 25%;
    padding: 20px;
    margin: 10px;
}

.caja img {
    margin: 5px;
    border: 2px solid black;
    transition: 3s;

}

.caja img:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.titulo {
    margin-left: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#pie {
    font-size: 2vw;
    background-color: silver;
    padding: 0.3vw;
    opacity: 75%;
    font-family: 'Playfair Display',serif;

}

#derechosreservados {
    background-color: #ffffff;
    margin-top: 100px;
    padding: 3px;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 0.15vw;
    width: 570px;

    animation-name: letra-animada;
    animation-duration: 4s;
    animation-delay: 2s;
    position: relative;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
.titulosFooter{
    color: black;
    font-weight: bold;
}
.redes_footer{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.logos{
    width:100px;
    height: 100px;
    padding: 10px;
    border-radius: 7px;
    border-color: black;
}

.ws_logo{
    z-index: initial;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 400px;
    left: 20px;
}

@keyframes letra-animada {
    0% {
        background: #ffffff;
        left: 0;
    }

    25% {
        background: rgb(157, 158, 160);
        color: rgb(59, 58, 57);
        left: 110px
    }

    50% {
        background: rgb(123, 124, 126);
        color: rgb(133, 134, 135);
        left: 220px
    }

    75% {
        background: rgb(115, 116, 116);
        color: rgb(201, 201, 197);
        left: 330px
    }

    100% {
        background: rgb(103, 103, 103);
        color: rgb(255, 255, 255);
        left: 440px
    }
}

@media screen and (max-width: 576px) {

    #derechosreservados {
        letter-spacing: 0.001;
        font-size: 2vw;
        padding: 0px;
        margin-left: 0px;
        width: 400px;

    }

    @keyframes letra-animada {
        0% {
            background: #ffffff;
            left: 0;
        }

        25% {
            background: rgb(157, 158, 160);
            color: rgb(59, 58, 57)
        }

        50% {
            background: rgb(123, 124, 126);
            color: rgb(133, 134, 135)
        }

        75% {
            background: rgb(115, 116, 116);
            color: rgb(201, 201, 197)
        }

        100% {
            background: rgb(103, 103, 103);
            color: rgb(255, 255, 255)
        }
    }

}

@media screen and (min-width:577px) and (max-width:768px) {
    #derechosreservados {
        letter-spacing: 0.001;
        font-size: 2vw;
        padding: 0px;
        margin-left: 0px;
    }

    @keyframes letra-animada {
        0% {
            background: #ffffff;
            left: 0;
        }

        25% {
            background: rgb(157, 158, 160);
            color: rgb(59, 58, 57)
        }

        50% {
            background: rgb(123, 124, 126);
            color: rgb(133, 134, 135)
        }

        75% {
            background: rgb(115, 116, 116);
            color: rgb(201, 201, 197)
        }

        100% {
            background: rgb(103, 103, 103);
            color: rgb(255, 255, 255)
        }
    }
}

@media screen and (min-width:769px) and (max-width:1024px) {
    @keyframes letra-animada {
        0% {
            background: #ffffff;
            left: 0;
        }

        25% {
            background: rgb(157, 158, 160);
            color: rgb(59, 58, 57)
        }

        50% {
            background: rgb(123, 124, 126);
            color: rgb(133, 134, 135)
        }

        75% {
            background: rgb(115, 116, 116);
            color: rgb(201, 201, 197)
        }

        100% {
            background: rgb(103, 103, 103);
            color: rgb(255, 255, 255)
        }
    }
}